<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Star Icon -->
<a class="github-button" href="https://github.com/marconipoveda/az-certified" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-show-count="true" aria-label="Star marconipoveda/az-certified on GitHub">Star</a>
<!-- Fork icon -->
<a class="github-button" href="https://github.com/marconipoveda/az-certified/fork" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork marconipoveda/az-certified on GitHub">Fork</a>